body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  min-width: 1140px;
  min-height: 2474px;
}

a {
  text-decoration: none;
}

.img {
  max-width: 100%;
  height: auto;
}

.figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-end: 40px;
  margin-inline-start: 40px;

}
.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;

}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}
.filter-button-button {
  color: #000000;
  background-color: #eeeeee;
  font-size: 16px;
  line-height: 18px;
  padding: 10px 50px 10px 50px;
}

.filter-button-button:hover {
  color: #000000;
  background-color: #dfdfdf
}
.filter-button-button:focus {
  color: #999999;
  background-color: #d5d5d5
}
.button-red {
  font: inherit;
  text-align: left;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}

.button-red:hover {
  background-color: #e74246
}
.button-red:focus {
  background-color: #d7373b;
  color: rgba(0, 0, 0, 0.302);
}
.button-green {
  font: inherit;
  text-align: left;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #00ca74;
  border: none;
}

.button-green:hover {
  background-color: #00bc6c;
}
.button-green:focus {
  background-color: #00aa62;
  color: rgba(0, 0, 0, 0.302);
}

.button-yellow {
  font: inherit;
  text-align: left;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #efc84a;;
  border: none;
}

.button-yellow:hover {
  background-color: #eab534;
}
.button-yellow:focus {
  background-color: #e5a722;
  color: rgba(0, 0, 0, 0.302);
}
.main-header {
  color: #000000;
  background-color: #eeeeee;
  padding: 18px;
}
.main-header-logo,
.main-navigation {
  font-size: 16px;
  line-height: 30px;
}
.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: calc(100%-45px);
  padding: 0 10px;
  justify-content: space-between;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  margin: 0;
  padding: 0;
  list-style: none;

}

.user-navigation {
  display: flex;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
}

.user-navigation.basket {
  position: relative;
  padding-left: 50px;
}


.basket::before {
  content: "";
  position: absolute;

  top: 27px;
  left: 24px;

  width: 15px;
  height: 15px;

  background-image: url("img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.basket:hover::before,
.basket:focus::before,
.lbasket:active::before {
  opacity: 1;
}
.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding: 25px 20px;
  vertical-align: middle;
  color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
  background-color:#eeeeee;
}

.site-navigation a:focus,
.user-navigation a:focus {
  color: rgba(0, 0, 0, 0.302);
  background-color:#eeeeee;
}
.services-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;

}

.services-item {

  text-align: left;
  width: 300px;
  height: 400px;
}

.services-item h3 {
  position: relative;
  font-size: 24px;
  line-height: 30px;

  margin: 0;
  margin-bottom: 26px;
}
.button-red,
.button-green,
.button-yellow {
padding: 18px 39px 18px 39px;
}

.services-item p {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

.services-foto {
  margin: 0;
  padding: 0;
}

.services-foto img,
.catalog-foto img {
  max-width: 100%;
  height: auto;
}
.catalog-foto {
  margin: 0;
  padding: 0;
}
.main-footer {
  color: #000000;
  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: repeat;
  padding: 0;

  margin-top: 69px;

}

.footer-container {
  display: flex;

}
.contact-us {
  display: none;
  width: 960px;
  height: 590px;

  position: fixed;
  color: #000000;

  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.contact-us-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact-us: h2 {
  margin: 0;
  margin-bottom: 25px;
}


.contact-us-item {
  margin: 0;
  margin-bottom: 10px;
}

.contact-us-item label {
  display: block;
  margin-bottom: 9px;
  margin-left: 15px;
}

.contact-us-item input {
  box-sizing: border-box;
  width: 360px;
  padding-top: 12px;
  padding-left: 121px;
  padding-right: 79px;
  padding-bottom: 15px;

  font: inherit;

  background-color: transparent;
  border: 2px solid #eeeeee;
}

.contact-us-button {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 30px;

  font: inherit;
  text-align: center;
  color: #d7373b;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #eeeeee;
  border: none;
}


.contact-us-box {
  top: 120px;
  left: 50%;
  margin-left: -230px;
  width: 960px;
  height: 590px;
}


.contact-us-form p {
  margin: 0;
  margin-bottom: 10px;
}

.contact-us-form input[type="text"],
.contact-us-form input[type="password"] {
  padding: 10px 15px;
  padding-right: 40px;
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 2px solid #eeeeee;
}
.contact-us-form input:focus {
  border-color: #663d15;
}

.social-button {
  text-align: left;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-right: auto;

}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #e1e1e1;

}

.footer-social ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.footer-discount {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  width: 800px;
  margin-left: 139px;
}

.social-button:hover,
.social-button:focus {
  background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path {
  fill: #000000;
}

.footer-discount b {
  text-align: center;
  font-size: 36px;
  line-height: 36px;
}

.page-title {
  color: #000000;
  background-color: #eeeeee;
  text-align: center;
  height: 200px;
}

.page-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.catalog-container {
  display: flex;
  justify-content: space-between;
}
.catalog-block {
  width: 760px;
  margin: 1em;
}
.catalog-filter {
  width: 270px;
}

.catalog-item {
  position: relative;
  border-top: 40px solid #f1f1f1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item::before {
  content: "";
  position: absolute;

  left: 40px;
  top: -30px;

  width: 13px;
  height: 13px;

  background-color: #ffffff;
   border-radius: 50%;
}

.catalog-item::after {
  content: "";
  position: absolute;
  left: 15px;
  top: -30px;

  width: 13px;
  height: 13px;

  background-color: #ffffff;
  border-radius: 50%;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 35px;
}

.filter legend {
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 30px;
}

.filter ul {
  padding: 0;
  margin: 0;

  list-style: none;
  line-height: 40px;
}

.filter-option {
  margin-bottom: 19px;
  padding-left: 45px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -32px;
  bottom: 12px;

  width: 16px;
  height: 16px;

  border: 2px solid #a6a6a6;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: -32px;
  left: -12px;

  width: 12px;
  height: 12px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -32px;
  bottom: 12px;

  width: 16px;
  height: 16px;

  border: 2px solid #a6a6a6;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 13px;
  left: -25px;

  width: 8px;
  height: 8px;

  background-color: #a6a6a6;
  border-radius: 50%;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.5;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
}

.info-card {
  background-color: #ffffff;
  height: 615px;
  width: 360px;
  margin-bottom: 33px;
  margin-right: 40px;
  border-radius: 50%;
}

.info-card:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-info {
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #eeeeee;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;

}

.catalog-item:hover .catalog-item-info {
  display: block;
  position: absolute;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #eeeeee;
}

.button {
  color: #ffffff;
  background-color: #fb565a;
  text-align: center;
}

.button:hover {
  color: #ffffff;
  background-color: #fb565a;
}

.button:focus {
  color: #ffffff;
  background-color: #e74246;
}

.button:active {
  color:#ffffff;
  background-color: #d7373b;
}
.pagination-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination-item {
  margin-right: 5px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 10px 19px;
  color: #000000;
  background-color: #eeeeee;
}

.pagination-item a:hover {
  color: #000000;
  background-color: #dfdfdf;
}
.pagination-item a:focus {
  color: rgba(0, 0, 0, 0.302);
  background-color: #d5d5d5;
}

.pagination-item-current a:active {
  color: #000000;
  background-color: #ffffff;
  border: 4px inset #eeeeee;
}

.inner-page.main-header {
  margin: 0;
  padding: 0;
}
.inner-page.figure {
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-end: 20px;
margin-inline-start: 20px;
}

.slider {
  position: relative;

  background-color: #eeeeee;

}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}
.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}
.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

 #product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {

  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}
.button-slider {
  display: block;
  width: 240px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button-slider:hover,
.button-slider:focus {
  background-color: #e74246;
}

.button-slider:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}


.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
} */

